.display-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

button {
  margin-left: 2px;
  padding: 6px 8px;
  border-radius: 5px;
}

input {
  padding: 6px 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.display-items {
  margin-left: -10px;
}

.api-call {
  margin-top: 20px;
}

.flag-country {
  width: 300px;
  height: 250px;
  margin-top: 12px;
}

li {
  margin-top: 10px;
  color: blue;
  font-weight: bold;
}
